# This is the exercises for learning Pandas using the Movies.CSV

In [2]:
#import numpy as np
import pandas as pd

df = pd.read_csv('movies_2.csv') # Gathering data
df.head(10)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
5,6,Uncle Buck,PG,15000000.0,79258538.0,1989-08-16,Family,100.0,7.0,77659.0,Bachelor and all-round slob Buck babysits his ...
6,7,When Harry Met Sally...,R,16000000.0,92800000.0,1989-07-21,Romance,96.0,7.6,180871.0,Harry and Sally have known each other for year...
7,8,Dead Poets Society,PG,16400000.0,235860116.0,1989-06-02,Drama,129.0,8.1,382002.0,English teacher John Keating inspires his stud...
8,9,Parenthood,PG-13,20000000.0,126297830.0,1989-07-31,Comedy,124.0,7.0,41866.0,The Buckmans are a midwestern family all deali...
9,10,Lethal Weapon 2,R,25000000.0,227853986.0,1989-07-07,Comedy,114.0,7.2,151737.0,Riggs and Murtaugh are on the trail of South A...

In [8]:
# Checking code for Mean, Mode and Median

df['Rating'].mean()
df['Rating'].mode()
df['Rating'].median()

6.9

In [9]:
# the number of rows and columns present in the data set (shape of the dataframe)

df.shape

(616, 11)

In [10]:
# columns present in the data set, along with the data type

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [11]:
# check for MPAA Rating, Budget, Gross, Release Date, Genre, Runtime, Rating and Rating Count columns how many NaN we have

df.iloc[ : , 2 : 10].isna().sum()

MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
dtype: int64

In [12]:
# Get rid of the Summary column


df_clean = df.drop(df.columns[[10]], axis=1)

# Remove spaces from the column names. 

df_clean.columns = [c.replace(' ', '_') for c in df_clean.columns]
df_clean

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating_Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA_Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release_Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating_Count  508 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

In [14]:
# Search for duplicate Titles, sort the list and then print the list.


df_clean[df_clean.duplicated(["Title"], keep=False)]
# df_dup.sort_values(["Title"])

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating_Count
21,22,Teenage Mutant Ninja Turtles,PG,13500000.0,2.020000e+08,1990-03-30,Action,93.0,6.8,79806.0
46,47,Beauty and the Beast,PG,25000000.0,3.773506e+08,1991-11-13,Animation,84.0,8.0,397467.0
65,66,Aladdin,G,28000000.0,5.040502e+08,1992-11-25,Animation,90.0,8.0,336384.0
98,99,Jurassic Park III,PG-13,93000000.0,3.688000e+08,2001-07-16,Thriller,92.0,8.9,1690474.0
107,108,The Lion King,G,45000000.0,7.882418e+08,1994-06-23,Animation,89.0,8.5,869127.0
195,196,Godzilla,PG-13,130000000.0,3.790143e+08,1998-05-20,Thriller,139.0,5.4,174600.0
249,250,Jurassic Park III,PG-13,93000000.0,3.687808e+08,2001-07-18,Adventure,92.0,5.9,280110.0
501,502,Teenage Mutant Ninja Turtles,PG-13,125000000.0,4.772000e+08,2014-08-07,Action,101.0,5.8,194073.0
504,505,Godzilla,PG-13,160000000.0,5.290761e+08,2014-05-14,Thriller,123.0,6.4,359438.0
565,566,Beauty and the Beast,PG,160000000.0,1.262886e+09,2017-03-16,Drama,129.0,NaN,NaN
609,610,Aladdin,PG,183000000.0,1.049000e+09,2019-05-08,Fantasy,128.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN

In [15]:
# Remove the duplicate Title "Jurassic Park 3" and keep in place within the df_drop 

df_clean.drop([98], inplace=True)

In [16]:
# Lets check if the row is removed from the df_drop

df_clean.iloc[98]

MovieID                  100
Title           Pulp Fiction
MPAA_Rating                R
Budget             8000000.0
Gross            213928762.0
Release_Date      1994-09-10
Genre               Thriller
Runtime                154.0
Rating                   8.9
Rating_Count       1690474.0
Name: 99, dtype: object

In [17]:
# Changing the data type of the Release date only. As Budget and Gross are already type Float

df_clean["Release_Date"] = df_clean["Release_Date"].astype("datetime64")
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 615 entries, 0 to 615
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       615 non-null    int64
 1   Title         614 non-null    object
 2   MPAA_Rating   614 non-null    object
 3   Budget        614 non-null    float64
 4   Gross         614 non-null    float64
 5   Release_Date  614 non-null    datetime64[ns]
 6   Genre         614 non-null    object
 7   Runtime       614 non-null    float64
 8   Rating        507 non-null    float64
 9   Rating_Count  507 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(3)
memory usage: 52.9+ KB

In [18]:
# Dropping the last row with the NaN values. 

df_clean.drop(615, inplace=True)

In [19]:
# Checking to see the DF after the row is dropped. 
df_clean

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating_Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN

In [20]:
# Fill missing values of Rating with the median value.
df_clean["Rating"].fillna(value=df_clean["Rating"].median(), inplace=True)

In [21]:
df_clean

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating_Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,NaN

In [22]:
# Fill missing values of Rating Count with the median value.
df_clean["Rating_Count"].fillna(value=df_clean["Rating_Count"].median(), inplace=True)

In [23]:
df_clean

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating_Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,240160.0
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240160.0
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240160.0
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240160.0
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240160.0

In [24]:
# Show the movies with more than 7 in Rating & greater than 50 million Gross
df_clean.loc[(df_clean["Rating"] > 7) & (df_clean["Gross"] > 50000000)]

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating_Count
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0
6,7,When Harry Met Sally...,R,16000000.0,92800000.0,1989-07-21,Romance,96.0,7.6,180871.0
...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000.0,652105443.0,2014-10-24,Animation,102.0,7.8,380953.0
506,507,Interstellar,PG-13,165000000.0,675120017.0,2014-11-05,Science Fiction,169.0,8.6,1343549.0
507,508,Captain America: The Winter Soldier,PG-13,170000000.0,714766572.0,2014-03-20,Action,136.0,7.7,685903.0
508,509,Dawn of the Planet of the Apes,PG-13,170000000.0,710644566.0,2014-06-26,Science Fiction,130.0,7.6,395425.0
509,510,Guardians of the Galaxy,PG-13,170000000.0,773328629.0,2014-07-30,Action,121.0,8.0,978222.0

In [ ]:
# show the movies with more than 7 in Rating & greater than 50 million Gross & with Parental guidance as MPAA Rating
df_clean.loc[(df_clean["Rating"] > 8) & (df_clean["Gross"] > 50000000) & (df_clean["MPAA_Rating"] == "PG")]

In [25]:
# count of Animation movies with more than 7 in Rating (use the shape() function)

df_anime = df_clean.loc[(df_clean["Genre"] == "Animation") & (df_clean["Rating"] > 7)]
df_anime.shape

(39, 10)

In [26]:
# show the list of top 5 movies based on Budget

df_topBudget = df_clean.sort_values("Budget", ascending = False)
df_topBudget.head()

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating_Count
594,595,Avengers: Infinity War,PG-13,400000000.0,2.048000e+09,2018-04-23,Action,149.0,6.9,240160.0
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240160.0
574,575,Star Wars: The Last Jedi,PG-13,317000000.0,1.333000e+09,2019-12-09,Science Fiction,152.0,6.9,240160.0
573,574,Justice League,PG-13,300000000.0,6.579000e+08,2017-11-15,Action,120.0,6.9,240160.0

In [27]:
# show the top 5 Comedy movies by Rating


df_comedy = df_clean.loc[(df_clean["Genre"] == "Comedy")]
df_comedy.sort_values("Rating", ascending=False)
df_comedy.head()

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating_Count
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
8,9,Parenthood,PG-13,20000000.0,126297830.0,1989-07-31,Comedy,124.0,7.0,41866.0
9,10,Lethal Weapon 2,R,25000000.0,227853986.0,1989-07-07,Comedy,114.0,7.2,151737.0
10,11,The War of the Roses,R,26000000.0,160200000.0,1989-12-08,Comedy,116.0,6.8,45248.0
14,15,Ghostbusters II,PG,37000000.0,215394738.0,1989-06-15,Comedy,108.0,6.6,171196.0

In [28]:
# top 5 movie names by Rating

df_top = df_clean.sort_values("Rating", ascending=False)
df_top.head()

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating_Count
393,394,The Dark Knight,PG-13,185000000.0,1.004558e+09,2008-07-16,Action,152.0,9.0,2127228.0
83,84,Schindler's List,R,22000000.0,3.213656e+08,1993-11-29,History,195.0,8.9,1117322.0
287,288,The Lord of the Rings: The Return of the King,PG-13,94000000.0,1.118889e+09,2003-12-01,Fantasy,201.0,8.9,1529953.0
99,100,Pulp Fiction,R,8000000.0,2.139288e+08,1994-09-10,Thriller,154.0,8.9,1690474.0
403,404,Fast and Furious,PG-13,85000000.0,3.632000e+08,2009-04-03,Thriller,107.0,8.8,1888105.0

In [29]:
# top 3 high Gross Romance movies released after 1999, not included (typecast it to datetime)


df_romance = df_clean.loc[(df_clean["Genre"] == "Romance")]
df_romance = df_romance.loc[(df_romance["Release_Date"] > "2000-01-01")]
df_romance = df_romance.sort_values("Gross", ascending=False)
df_romance.head(10)
#df_romance

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating_Count
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000.0,829000000.0,2012-11-13,Romance,115.0,5.5,218357.0
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000.0,712171856.0,2011-03-15,Romance,117.0,4.9,211592.0
401,402,The Twilight Saga: New Moon,PG-13,50000000.0,709827462.0,2009-03-15,Romance,130.0,4.7,252223.0
419,420,The Twilight Saga: Eclipse,PG-13,68000000.0,698491347.0,2010-06-23,Romance,124.0,5.0,215110.0
379,380,Mamma Mia!,PG-13,52000000.0,609841637.0,2008-07-03,Romance,108.0,6.4,198801.0
577,578,A Star is Born,R,36000000.0,435000000.0,2018-08-31,Romance,135.0,6.9,240160.0
378,379,Twilight,PG-13,37000000.0,392616625.0,2008-11-20,Romance,122.0,5.2,400765.0
400,401,The Proposal,PG-13,40000000.0,317375031.0,2009-06-01,Romance,108.0,6.7,277605.0
576,577,Crazy Rich Asians,PG-13,30000000.0,238500000.0,2018-08-07,Romance,121.0,6.9,240160.0
217,218,"Crouching Tiger, Hidden Dragon",PG-13,17000000.0,213525736.0,2000-10-01,Romance,120.0,7.8,242878.0

In [30]:
# how many Genres are present in the dataframe? (use the function value_counts() which applies to Series, not Dataframe)
df_clean.value_counts("Genre")

Genre
Action             110
Comedy              99
Animation           87
Drama               66
Thriller            40
Science Fiction     37
Adventure           30
Family              29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
dtype: int64

In [31]:
# top 5 expensive movies released after 1999, not included (measured by Budget)

# df_romance = df.loc[(df["Genre"] == "Romance")]
# df_romance = df_romance.loc[(df_romance["Release Date"] > "2000-01-01")]

df_exp = df_clean.loc[(df_clean["Release_Date"] > "2000-01-01")]
df_exp = df_exp.sort_values("Budget", ascending=False)
df_exp.head(5)

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating_Count
594,595,Avengers: Infinity War,PG-13,400000000.0,2.048000e+09,2018-04-23,Action,149.0,6.9,240160.0
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240160.0
574,575,Star Wars: The Last Jedi,PG-13,317000000.0,1.333000e+09,2019-12-09,Science Fiction,152.0,6.9,240160.0
573,574,Justice League,PG-13,300000000.0,6.579000e+08,2017-11-15,Action,120.0,6.9,240160.0

In [36]:
# most & least frequent MPAA Rating in the dataset in terms of occurances

print("\n Using Mode: ",df_clean['MPAA_Rating'].mode()) # Most frequent using Mode

print("\n Using idxmax: ",df_clean['MPAA_Rating'].value_counts().idxmax()) # Most frequent
print("\n Using idxmin: ",df_clean['MPAA_Rating'].value_counts().idxmin()) # Least frequent

 Using Mode:  0    PG-13
Name: MPAA_Rating, dtype: object

 Using idxmax:  PG-13

 Using idxmin:  G

# CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK

In [87]:
# most and least expensive Genre (take an average of all Budget measures grouped by Genre - use groupBy() method)

print("This is the Least expensive Genre \n", df_clean.groupby(['Genre']).mean().idxmin())

print("\n")
print("This is the Most expensive Genre \n", df_clean.groupby(['Genre']).mean().idxmax())

This is the Least expensive Genre
 MovieID             Crime
Budget             Horror
Gross               Crime
Runtime         Animation
Rating             Family
Rating_Count       Family
Netprofit           Crime
dtype: object


This is the Most expensive Genre
 MovieID         Animation
Budget            Fantasy
Gross             Fantasy
Runtime           History
Rating            History
Rating_Count      Fantasy
Netprofit         Fantasy
dtype: object

In [7]:
# most and least expensive Genre (take an average of all Budget measures grouped by Genre - use groupBy() method)

df_clean.groupby(['Genre'],as_index=False).Budget.mean().sort_values("Budget", ascending=False)

              Genre        Budget
7           Fantasy  1.612111e+08
0            Action  1.441682e+08
1         Adventure  1.338333e+08
12  Science Fiction  1.267838e+08
2         Animation  1.158793e+08
10          Mystery  1.035455e+08
14              War  9.075556e+07
13         Thriller  8.658537e+07
15          Western  7.983333e+07
6            Family  6.268966e+07
4             Crime  5.658824e+07
5             Drama  5.592576e+07
8           History  5.550000e+07
3            Comedy  4.957727e+07
11          Romance  4.540020e+07
9            Horror  3.700429e+07

In [37]:
# Which Genre is favored the most by the people?

# just checking what can be used to figure out what genre is favored.
df_clean.info()
df_clean.groupby(['Genre'],as_index=False).Rating.mean().sort_values("Rating", ascending=False)

# First I create a new coloum called Net profit which is the "Gross - Budget" to see how much profit each movie made.

netprofit = df_clean["Gross"] - df_clean["Budget"]
df_clean["Netprofit"] = netprofit
df_clean

<class 'pandas.core.frame.DataFrame'>
Int64Index: 614 entries, 0 to 614
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       614 non-null    int64
 1   Title         614 non-null    object
 2   MPAA_Rating   614 non-null    object
 3   Budget        614 non-null    float64
 4   Gross         614 non-null    float64
 5   Release_Date  614 non-null    datetime64[ns]
 6   Genre         614 non-null    object
 7   Runtime       614 non-null    float64
 8   Rating        614 non-null    float64
 9   Rating_Count  614 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(3)
memory usage: 52.8+ KB

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating_Count,Netprofit
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,2.885000e+08
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,1.382933e+08
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,5.807992e+07
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,1.470017e+08
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,6.943162e+07
...,...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,240160.0,1.859000e+08
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240160.0,8.620000e+08
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240160.0,5.594000e+08
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240160.0,1.382000e+09
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240160.0,2.440000e+09

In [64]:
## Check which genre has made the most money - Answer: Fantasy
#print("\n", df_clean.groupby(['Genre'],as_index=False).Netprofit.mean().sort_values("Netprofit", ascending=False))
#
## Check which genre has the most rating - Answer: History
#print("\n", df_clean.groupby(['Genre'],as_index=False).Rating.mean().sort_values("Rating", ascending=False))
#

# Check which genre has the most number of rating by audience - Answer: History
#df_clean.groupby(['Genre'],as_index=False).Rating_Count.sum().sort_values("Rating_Count", ascending=False)
#
#
#
#df_clean.loc[(df_clean["Genre"] == "History") ]
#
#df_clean["Rating_Count"] =(df_clean["Rating_Count"] - df_clean["Rating_Count"].mean()) / df_clean["Rating_Count"].std()
#df_clean.groupby(['Genre'],as_index=False).Rating_Count.sum().sort_values("Rating_Count", ascending=False)

normalized_df = df_clean
df_clean

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating_Count,Netprofit
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,0.027799,2.885000e+08
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,0.036054,1.382933e+08
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,0.036215,5.807992e+07
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,0.036215,1.470017e+08
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,0.041085,6.943162e+07
...,...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,0.106633,1.859000e+08
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,0.106633,8.620000e+08
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,0.106633,5.594000e+08
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,0.106633,1.382000e+09
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,0.106633,2.440000e+09

In [85]:
normalized_df = df_clean[["Genre", "Rating_Count", "Rating", "Netprofit"]].copy()
normalized_df

normalized_df.groupby(['Genre'],as_index=False).Rating.mean().sort_values("Rating", ascending=False)
# normalized_df["Rating"]=(normalized_df["Rating"]-normalized_df["Rating"].min())/(normalized_df["Rating"].max()-normalized_df["Rating"].min())
normalized_df["Rating_Count"]=(normalized_df["Rating_Count"]-normalized_df["Rating_Count"].min())/(normalized_df["Rating_Count"].max()-normalized_df["Rating_Count"].min())
# normalized_df.groupby(['Genre'],as_index=False).Rating_Count.sum().sort_values("Rating_Count", ascending=False)
display(normalized_df.groupby(['Genre'],as_index=False).Rating.mean().sort_values("Rating", ascending=False))
display(normalized_df.groupby(['Genre'],as_index=False).Rating_Count.mean().sort_values("Rating_Count", ascending=False))

              Genre    Rating
8           History  7.625000
14              War  7.355556
7           Fantasy  7.337037
15          Western  7.333333
5             Drama  7.193939
12  Science Fiction  7.151351
2         Animation  7.110345
0            Action  6.985455
13         Thriller  6.947500
4             Crime  6.876471
10          Mystery  6.827273
9            Horror  6.735714
1         Adventure  6.696667
3            Comedy  6.631313
11          Romance  6.400000
6            Family  6.117241

              Genre  Rating_Count
7           Fantasy      0.246332
12  Science Fiction      0.207061
8           History      0.205336
15          Western      0.189876
0            Action      0.184167
14              War      0.178593
1         Adventure      0.172032
13         Thriller      0.161635
2         Animation      0.135769
10          Mystery      0.127450
5             Drama      0.127361
4             Crime      0.099232
3            Comedy      0.097807
9            Horror      0.096692
11          Romance      0.091609
6            Family      0.067039