# This is the exercises for learning Pandas using the Movies.CSV

In [45]:
import numpy as np
import pandas as pd

df = pd.read_csv('movies_2.csv') # Gathering data
df.tail(10)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
606,607,Spider-Man: Far from Home,PG-13,160000000.0,1.131000e+09,2019-06-26,Action,129.0,NaN,NaN,NaN
607,608,Dumbo,PG,170000000.0,3.530000e+08,2019-03-11,Adventure,112.0,NaN,NaN,NaN
608,609,Captain Marvel,PG-13,175000000.0,1.128000e+09,2019-02-27,Action,124.0,NaN,NaN,NaN
609,610,Aladdin,PG,183000000.0,1.049000e+09,2019-05-08,Fantasy,128.0,NaN,NaN,NaN
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# Checking code for Mean, Mode and Median

df['Rating'].mean()
df['Rating'].mode()
df['Rating'].median()

6.9

In [27]:
# the number of rows and columns present in the data set (shape of the dataframe)

df.shape

(616, 11)

In [28]:
# columns present in the data set, along with the data type

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [29]:
# check for MPAA Rating, Budget, Gross, Release Date, Genre, Runtime, Rating and Rating Count columns how many NaN we have

df.iloc[ : , 2 : 10].isna().sum()

MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
dtype: int64

In [30]:
# Get rid of the Summary column
#df.drop(columns=["Summary"])

df_drop = df.drop(df.columns[[10]], axis=1)
df_drop

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

In [32]:
# Search for duplicate Titles, sort the list and then print the list.


df_drop[df_drop.duplicated(["Title"], keep=False)]
# df_dup.sort_values(["Title"])

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
21,22,Teenage Mutant Ninja Turtles,PG,13500000.0,2.020000e+08,1990-03-30,Action,93.0,6.8,79806.0
46,47,Beauty and the Beast,PG,25000000.0,3.773506e+08,1991-11-13,Animation,84.0,8.0,397467.0
65,66,Aladdin,G,28000000.0,5.040502e+08,1992-11-25,Animation,90.0,8.0,336384.0
98,99,Jurassic Park III,PG-13,93000000.0,3.688000e+08,2001-07-16,Thriller,92.0,8.9,1690474.0
107,108,The Lion King,G,45000000.0,7.882418e+08,1994-06-23,Animation,89.0,8.5,869127.0
195,196,Godzilla,PG-13,130000000.0,3.790143e+08,1998-05-20,Thriller,139.0,5.4,174600.0
249,250,Jurassic Park III,PG-13,93000000.0,3.687808e+08,2001-07-18,Adventure,92.0,5.9,280110.0
501,502,Teenage Mutant Ninja Turtles,PG-13,125000000.0,4.772000e+08,2014-08-07,Action,101.0,5.8,194073.0
504,505,Godzilla,PG-13,160000000.0,5.290761e+08,2014-05-14,Thriller,123.0,6.4,359438.0
565,566,Beauty and the Beast,PG,160000000.0,1.262886e+09,2017-03-16,Drama,129.0,NaN,NaN
609,610,Aladdin,PG,183000000.0,1.049000e+09,2019-05-08,Fantasy,128.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN

In [33]:
# Remove the duplicate Title "Jurassic Park 3" and keep in place within the df_drop 

df_drop.drop([98], inplace=True)

In [34]:
# Lets check if the row is removed from the df_drop

df_drop.iloc[98]

MovieID                  100
Title           Pulp Fiction
MPAA Rating                R
Budget             8000000.0
Gross            213928762.0
Release Date      1994-09-10
Genre               Thriller
Runtime                154.0
Rating                   8.9
Rating Count       1690474.0
Name: 99, dtype: object

In [35]:
# Changing the data type of the Release date only. As Budget and Gross are already type Float

df_drop["Release Date"] = df_drop["Release Date"].astype("datetime64")
df_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 615 entries, 0 to 615
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       615 non-null    int64
 1   Title         614 non-null    object
 2   MPAA Rating   614 non-null    object
 3   Budget        614 non-null    float64
 4   Gross         614 non-null    float64
 5   Release Date  614 non-null    datetime64[ns]
 6   Genre         614 non-null    object
 7   Runtime       614 non-null    float64
 8   Rating        507 non-null    float64
 9   Rating Count  507 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(3)
memory usage: 52.9+ KB

In [36]:
# Dropping the last row with the NaN values. 

df_drop.drop(615, inplace=True)

In [37]:
# Checking to see the DF after the row is dropped. 
df_drop

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN

In [58]:
df["Rating"].fillna(value=df["Rating"].median(), inplace=True)

In [59]:
df

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240347.5,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240347.5,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240347.5,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.9,240347.5,NaN

In [56]:
df["Rating Count"].fillna(value=df["Rating Count"].median(), inplace=True)

In [67]:
df

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240347.5,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240347.5,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240347.5,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.9,240347.5,NaN

In [70]:
# Show the movies with more than 7 in Rating & greater than 50 million Gross
df.loc[(df["Rating"] > 7) & (df["Gross"] > 50000000)]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
6,7,When Harry Met Sally...,R,16000000.0,92800000.0,1989-07-21,Romance,96.0,7.6,180871.0,Harry and Sally have known each other for year...
...,...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000.0,652105443.0,2014-10-24,Animation,102.0,7.8,380953.0,The special bond that develops between plus-si...
506,507,Interstellar,PG-13,165000000.0,675120017.0,2014-11-05,Science Fiction,169.0,8.6,1343549.0,A team of explorers travel through a wormhole ...
507,508,Captain America: The Winter Soldier,PG-13,170000000.0,714766572.0,2014-03-20,Action,136.0,7.7,685903.0,As Steve Rogers struggles to embrace his role ...
508,509,Dawn of the Planet of the Apes,PG-13,170000000.0,710644566.0,2014-06-26,Science Fiction,130.0,7.6,395425.0,A growing nation of genetically evolved apes l...
509,510,Guardians of the Galaxy,PG-13,170000000.0,773328629.0,2014-07-30,Action,121.0,8.0,978222.0,A group of intergalactic criminals must pull t...

In [75]:
# show the movies with more than 7 in Rating & greater than 50 million Gross & with Parental guidance as MPAA Rating
df.loc[(df["Rating"] > 8) & (df["Gross"] > 50000000) & (df["MPAA Rating"] == "PG")]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
7,8,Dead Poets Society,PG,16400000.0,235860116.0,1989-06-02,Drama,129.0,8.1,382002.0,English teacher John Keating inspires his stud...
106,107,Star Trek: Generations,PG,38000000.0,120000000.0,1994-11-17,Science Fiction,118.0,8.5,869127.0,With the help of long presumed dead Captain Ki...
185,186,The Truman Show,PG,60000000.0,264118201.0,1998-06-04,Comedy,103.0,8.1,859224.0,An insurance salesman discovers his whole life...
411,412,Up,PG,175000000.0,735099082.0,2009-05-13,Animation,96.0,8.2,867393.0,Seventy-eight year old Carl Fredricksen travel...
428,429,How to Train Your Dragon,PG,165000000.0,494878759.0,2010-03-05,Animation,98.0,8.1,624128.0,A hapless young Viking who aspires to hunt dra...

In [85]:
# count of Animation movies with more than 7 in Rating (use the shape() function)

df_anime = df.loc[(df["Genre"] == "Animation") & (df["Rating"] > 7)]
df_anime.shape

(39, 11)

In [91]:
# show the list of top 5 movies based on Budget

df_topBudget = df.sort_values("Budget", ascending = False)
df_topBudget.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
594,595,Avengers: Infinity War,PG-13,400000000.0,2.048000e+09,2018-04-23,Action,149.0,6.9,240347.5,NaN
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0,Jack Sparrow and Barbossa embark on a quest to...
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5,NaN
574,575,Star Wars: The Last Jedi,PG-13,317000000.0,1.333000e+09,2019-12-09,Science Fiction,152.0,6.9,240347.5,NaN
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000.0,9.610000e+08,2007-05-19,Adventure,169.0,7.1,565402.0,"Captain Barbossa, Will Turner and Elizabeth Sw..."

In [110]:
# show the top 5 Comedy movies by Rating


df_comedy = df.loc[(df["Genre"] == "Comedy")]
df_comedy.sort_values("Rating", ascending=False)
df_comedy.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
8,9,Parenthood,PG-13,20000000.0,126297830.0,1989-07-31,Comedy,124.0,7.0,41866.0,The Buckmans are a midwestern family all deali...
9,10,Lethal Weapon 2,R,25000000.0,227853986.0,1989-07-07,Comedy,114.0,7.2,151737.0,Riggs and Murtaugh are on the trail of South A...
10,11,The War of the Roses,R,26000000.0,160200000.0,1989-12-08,Comedy,116.0,6.8,45248.0,A married couple try everything to get each ot...
14,15,Ghostbusters II,PG,37000000.0,215394738.0,1989-06-15,Comedy,108.0,6.6,171196.0,The discovery of a massive river of ectoplasm ...

In [112]:
# top 5 movie names by Rating

df_top = df.sort_values("Rating", ascending=False)
df_top.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
393,394,The Dark Knight,PG-13,185000000.0,1.004558e+09,2008-07-16,Action,152.0,9.0,2127228.0,When the menace known as the Joker wreaks havo...
99,100,Pulp Fiction,R,8000000.0,2.139288e+08,1994-09-10,Thriller,154.0,8.9,1690474.0,"The lives of two mob hitmen, a boxer, a gangst..."
98,99,Jurassic Park III,PG-13,93000000.0,3.688000e+08,2001-07-16,Thriller,92.0,8.9,1690474.0,A decidedly odd couple with ulterior motives ...
83,84,Schindler's List,R,22000000.0,3.213656e+08,1993-11-29,History,195.0,8.9,1117322.0,"In German-occupied Poland during World War II,..."
287,288,The Lord of the Rings: The Return of the King,PG-13,94000000.0,1.118889e+09,2003-12-01,Fantasy,201.0,8.9,1529953.0,Gandalf and Aragorn lead the World of Men agai...

In [121]:
# top 3 high Gross Romance movies released after 1999, not included (typecast it to datetime)


df_romance = df.loc[(df["Genre"] == "Romance")]
df_romance = df_romance.loc[(df_romance["Release Date"] > "2000-01-01")]
df_romance = df_romance.sort_values("Gross", ascending=False)
df_romance.head(3)
#df_romance

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000.0,829000000.0,2012-11-13,Romance,115.0,5.5,218357.0,"After the birth of Renesmee/Nessie, the Cullen..."
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000.0,712171856.0,2011-03-15,Romance,117.0,4.9,211592.0,The Quileutes close in on expecting parents Ed...
401,402,The Twilight Saga: New Moon,PG-13,50000000.0,709827462.0,2009-03-15,Romance,130.0,4.7,252223.0,Edward leaves Bella after an attack that nearl...

In [122]:
# how many Genres are present in the dataframe? (use the function value_counts() which applies to Series, not Dataframe)
df.value_counts("Genre")

Genre
Action             110
Comedy              99
Animation           87
Drama               66
Thriller            41
Science Fiction     37
Adventure           30
Family              29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
dtype: int64

In [124]:
# top 5 expensive movies released after 1999, not included (measured by Budget)

# df_romance = df.loc[(df["Genre"] == "Romance")]
# df_romance = df_romance.loc[(df_romance["Release Date"] > "2000-01-01")]

df_exp = df.loc[(df["Release Date"] > "2000-01-01")]
df_exp = df_exp.sort_values("Budget", ascending=False)
df_exp.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
594,595,Avengers: Infinity War,PG-13,400000000.0,2.048000e+09,2018-04-23,Action,149.0,6.9,240347.5,NaN
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0,Jack Sparrow and Barbossa embark on a quest to...
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5,NaN
574,575,Star Wars: The Last Jedi,PG-13,317000000.0,1.333000e+09,2019-12-09,Science Fiction,152.0,6.9,240347.5,NaN
573,574,Justice League,PG-13,300000000.0,6.579000e+08,2017-11-15,Action,120.0,6.9,240347.5,NaN

In [136]:
# most & least frequent MPAA Rating in the dataset in terms of occurances

print(df['MPAA Rating'].mode()) # Most frequent using Mode

print(df['MPAA Rating'].value_counts().idxmax()) # Most frequent
print(df['MPAA Rating'].value_counts().idxmin()) # Least frequent

0    PG-13
Name: MPAA Rating, dtype: object
PG-13
G

# CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK

In [156]:
# most and least expensive Genre (take an average of all Budget measures grouped by Genre - use groupBy() method)

print("This is the Min of all columns \n", df.groupby(['Genre']).mean().idxmin())

print("\n")
print("This is the Max of all columns \n", df.groupby(['Genre']).mean().idxmax())

This is the Min of all columns
 MovieID             Crime
Budget             Horror
Gross               Crime
Runtime         Animation
Rating             Family
Rating Count       Family
dtype: object


This is the Max of all columns
 MovieID         Animation
Budget            Fantasy
Gross             Fantasy
Runtime           History
Rating            History
Rating Count      Fantasy
dtype: object

In [159]:
# most and least expensive Genre (take an average of all Budget measures grouped by Genre - use groupBy() method)

print(df.groupby(['Genre']).mean())

                    MovieID        Budget         Gross     Runtime    Rating  \
Genre
Action           364.136364  1.441682e+08  6.245491e+08  127.936364  6.985455
Adventure        320.600000  1.338333e+08  5.864940e+08  130.266667  6.696667
Animation        401.827586  1.158793e+08  5.617414e+08   95.885057  7.110345
Comedy           246.414141  4.957727e+07  2.447957e+08  105.919192  6.631313
Crime            196.058824  5.658824e+07  2.286779e+08  121.941176  6.876471
Drama            262.333333  5.592576e+07  2.989364e+08  126.651515  7.193939
Family           200.758621  6.268966e+07  2.920609e+08  104.172414  6.117241
Fantasy          376.740741  1.612111e+08  7.926055e+08  143.037037  7.337037
History          239.250000  5.550000e+07  2.753178e+08  157.750000  7.625000
Horror           338.857143  3.700429e+07  2.724708e+08  116.000000  6.735714
Mystery          321.909091  1.035455e+08  3.725879e+08  131.454545  6.827273
Romance          236.571429  4.540020e+07  3.841570e+08  117.285714  6.400000
Science Fiction  317.864865  1.267838e+08  5.252451e+08  126.567568  7.151351
Thriller         290.195122  8.658537e+07  3.963394e+08  121.073171  6.995122
War              278.666667  9.075556e+07  3.903759e+08  151.111111  7.355556
Western          286.500000  7.983333e+07  3.360111e+08  141.500000  7.333333

                  Rating Count
Genre
Action           403992.800000
Adventure        378327.400000
Animation        301756.873563
Comedy           221525.308081
Crime            224538.323529
Drama            283972.590909
Family           156531.775862
Fantasy          535283.129630
History          448652.000000
Horror           219228.821429
Mystery          284149.045455
Romance          208438.785714
Science Fiction  452324.486486
Thriller         388913.012195
War              392181.722222
Western          416025.916667